$factor-size: 5;

$dark: #444444;
$gray: #999999;
$light-gray: #e0e0e0;
$white: #fefefe;
$red: #ec0071;
$yellow: #f1c40f;
$orange: #FF6900;
$lime: #D7FF00;
$cyan: #57caf4;
$navy: #0a4069;

$faces-color: rgba(white, .3);
$border-color: rgba(white, 1);

$rangeTrack-border-color: $navy;
$rangeThumb-border-color: $navy;

$thumbSize: 1em;

$sides-transition: .5s;
$sides-transition-duration: $sides-transition;